<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" 
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Metadata</key>
   <string>com.ayagasha.scraper</string>
   <key>ProgramArguments</key>
   <array>
      <string>/Users/matkat/Software/release/Rust/bin/release/metadata</string>
   </array>
   <key>StartCalendarInterval</key>
   <dict>
      <key>Hour</key>
      <integer>16</integer>
      <key>Minute</key>
      <integer>30</integer>
   </dict>
</dict>
</plist>
